<nav class="navbar static">
    <div class="top-bar">
        <div class="pull-left logo-box">
            <img class="logo" src="../../../../assets/images/logo.png"></div>
        <div class="app-name pull-left">Application name</div>
        <div class="logout-container pull-right border-left" (click)="logout()">
            <div class=" user-name ">AB</div>
        </div>
        <div class="pull-right border-left topbar-padding ">
            <i class="icon-outline-notification "></i>
        </div>
    </div>
</nav>