<div class="footer">
    <div class="foot-left ellipsis" title="© 2017 PwC. All rights reserved. PwC refers to the US member firm of the PwC network or one of its subsidiaries or affiliates.">© 2017 PwC. All rights reserved. PwC refers to the US member firm of the PwC network or one of its subsidiaries or affiliates.</div>
    <ul class="nav navbar-nav nav-footer pull-right">
        <li>Full legal</li>
        <li>Privacy policy</li>
        <li>Data usage policy</li>
        <li>Terms of use</li>
    </ul>
</div>