.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a:last-child {
        margin-left: 50px;
    }
    .remember-me-checkbox {
        display: none;
    }
}